@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy's Gifts</title>
    <link rel="stylesheet" href="~/css/bootraptheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GiftShop.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-primary-subtle">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark myCustomColor mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/AndyLogo.png" alt="Logo" class="img-fluid img-nav" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img href="~/Images/Andy's.png" />Andy's Gifts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown  myCustomColor">
                            <a class="nav-link dropdown-toggle text-light text-decoration-none" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu  myCustomColor" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Toys" asp-action="Index">Toys</a>
                                <a class="dropdown-item text-light"asp-area=""  asp-controller="Clothes" asp-action="Index">Clothes</a>
                                <a class="dropdown-item text-light" asp-area="" asp-controller="Accessories" asp-action="Index">Accessories</a>
                            </div>
                        </li>
                        @if (!User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light text-decoration-none" asp-area="" asp-controller="CustomProduct" asp-action="Index">Custom Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light text-decoration-none" asp-area="" asp-controller="CustomProduct" asp-action="Request">My Custom Requests</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item ms-3">
                                <a class="nav-link text-light"  asp-area="Admin" asp-controller="Product" asp-action="Add">Add Product</a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link text-light" asp-area="" asp-controller="CustomProduct" asp-action="Request">View custom requests</a>
                            </li>
                            <li class="nav-item ms-3 ">
                                <a class="nav-link text-light"  asp-controller="CustomOrder" asp-action="Index">View custom orders</a>
                            </li>
                             <li class="nav-item ms-3 ">
                                <a class="nav-link text-light"  asp-controller="Order" asp-action="Index">View orders</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">

                            <partial name="_LoginPartial" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light text-decoration-none" asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                        </li>

                    </ul>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class=" text-center  border-top border-bottom border-white myCustomColor mt-3 mb-0 ">
        <div class="container p-4">
            <section class="mb-4">
                <div>
                    <p>
                        Discover the Magic of Handmade Crochet Creations at Andy's Gifts! 🎁
                    </p>
                    <p>
                        ✨ Uniquely Crafted, Just for You ✨
                    </p>
                    <p>
                        🎯 Custom Orders Available! Your Imagination, Our Creation 🌠
                    </p>
                    Join us in the world of crochet artistry and experience the joy of giving and receiving heartwarming, handmade treasures. Follow us for updates, inspirations, and a touch of yarn magic! 🧡
                </div>
            </section>
            <section class="mb-4">
                <a class="btn btn-secondary text-decoration-none" href="mailto:agiftsmadebyandy@gmail.com" role="button">
                    Email
                </a>
                <a class="btn  btn-secondary text-decoration-none ms-2" href="https://www.instagram.com/giftsmadebyandy/" role="button">
                    Instagram
                </a>
            </section>
            <div class="text-center">
                © 2023 Copyright: Andy's gifts

            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
