<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy's Gifts</title>
    <link rel="stylesheet" href="~/css/bootraptheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GiftShop.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img href="~/Images/Andy's.png" />Andy's Gifts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-dark" asp-controller="Toys" asp-action="Index">Toys</a>
                                <a class="dropdown-item text-dark" asp-controller="Clothes" asp-action="Index">Clothes</a>
                                <a class="dropdown-item text-dark" asp-controller="Accessories" asp-action="Index">Accessories</a>
                            </div>
                        </li>
                        @if (!User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CustomProduct" asp-action="Index">Custom</a>
                            </li>
                        }

                    </ul>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="nav-item ms-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
                        </div>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="nav-item ms-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CustomProduct" asp-action="Requests">View custom request</a>
                        </div>
                    }

                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-white text-center text-black border-top border-bottom border-black mt-3 mb-0">
        <div class="container p-4">
            <section class="mb-4">
                <div>
                    <p>
                        Discover the Magic of Handmade Crochet Creations at Andy's Gifts! 🧶🎁
                    </p>
                    <p>
                        ✨ Uniquely Crafted, Just for You ✨
                    </p>
                    <p>
                        🎯 Custom Orders Available! Your Imagination, Our Creation 🌠
                    </p>
                    Join us in the world of crochet artistry and experience the joy of giving and receiving heartwarming, handmade treasures. Follow us for updates, inspirations, and a touch of yarn magic! 🧡
                </div>
            </section>
            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1" href="mailto:agiftsmadebyandy@gmail.com" role="button">
                    Email
                </a>
                <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/giftsmadebyandy/" role="button">
                    Instagram
                </a>
            </section>
            <div class="text-center bg-white">
                © 2023 Copyright: Andy's gifts

            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
