<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <div class="text-center h4">
                    <p>Oops, better check that URL. Page was not found.</p>
                    <img src="~/Images/Ooops.png"/>
                </div>
                <div class="text-center h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
