@model IEnumerable<ProductViewModelHomePage>
@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section id="banner" class="mb-5">
        <img class="img-fluid img-thumbnail h-200" src="~/Images/Green Graphic New Arrivals Website Homepage Banner.png" />
    </section>
    <div class="top3products mb-5 rounded-3">
        <h2>Top 3 products</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 ms-5">
        @foreach (var product in Model)
        {
            <div class="col">
                <a class="card" >
                    <img src="@product.ImageUrl" alt="@product.Name">
                </a>
            </div>
        }
    </div>
</main>
